div(class='c10-header')
    div(class='c10-header-left-section')
        img(class='c10-header-hamburger' src='../assets/icons/hamburger-menu.svg')
        img(class='c10-header-youtube-logo' src='../assets/icons/youtube-logo.svg')
    
    div(class='c10-header-middle-section')
        input(class='c10-searchbar', type='text', placeholder='Search')

        button(class='c10-search-button')
            img(class='c10-search-icon' src='../assets/icons/search.svg')
            div(class='c10-tooltip') Search
        
        button(class='c10-voice-search-button')
            img(class='c10-voice-icon' src='../assets/icons/voice-search-icon.svg')
            div(class='c10-tooltip') Search with your voice
    
    div(class='c10-header-right-section')
        div(class='c10-header-right-icon-container')
            img(class='c10-header-upload-icon' src='../assets/icons/upload.svg')
            div(class='c10-tooltip') Create
        
        div(class='c10-header-right-icon-container')
            img(class='c10-header-youtube-apps-icon' src='../assets/icons/youtube-apps.svg')
            div(class='c10-tooltip') Youtube Apps

        div(class='c10-header-notification-container')
            img(class='c10-header-notification-icon' src='../assets/icons/notifications.svg')
            div(class='c10-header-notifications-count') 3 
            div(class='c10-tooltip') Notifications
        
        img(class='c10-header-user-icon' src='../assets/channel-pictures/my-channel.jpeg')
        -
