extends ../layout.pug
include mixin/video-preview

block main
    include header.pug
    include sidebar.pug

    div(class='c10-video-grid')
        each video in youtubeData
            +video-preview(video)
    
