extends ../layout.pug

block importStyles
    link(rel="stylesheet" href='../css/style.css')

block main
    button(class='c2-red-button') SUBSCRIBE
    button(class='c2-blue-white-button') JOIN
    button(class='c2-white-blue-button') Tweet


