extends ../layout.pug

block main
    p(class='c3-title') 
        | Talking Tech and AI with Google CEO Sundar Pichai!

    p(class='c3-stats') 
        | 3.4M views &#183 6 months ago 

    p(class='c3-author')
        | Marques Brownlee &#10003;

    p(class='c3-description')
        | Talking tech and AI on the heels og Google I/O. Also a daily
        | driver phone reveal from Google's CEO. Shoutout to Sundar!

    p(class='c3-red-bg-text')
        | Shop early for the best selection of hpliday favourites. 
        span(class='c3-hover-underline')
            | Shop now &#62; 

