extends layout.pug
block main
    h2 Mastering the Modern Web Stack
    p This is a practove for the course. You can find this course on youtube
    P In this course it is tried to create a youtube mimic site


    h2 What Technlogies are used 

