doctype html
html(lang=en)
    head
        title "WebDevDojo"
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap', rel='stylesheet')
        block importStyles
            link(rel="stylesheet" href="./css/style.css")
    body
        header
            div(class='header')
                h1 WebDevDojo

        main(id="top")
            div(class='sidebar')
                ul
                    li: a(href='index.html') Home
                    li: a(href='/course-1/index.html') Course-1 Introduction
                    li: a(href='/course-2/index.html') Course-2 Beautiful Buttons
                    li: a(href='/course-3/index.html') Course-3 CSS Styling Texts
                    li: a(href='/course-4/index.html') Course-4 My Youtube-1

            div(class='main')
                block main

        footer
         div(class='footer')
            a(href='#top') top
            p Copyright &copy; Hanif 2024
