div(class='c9-header')
    div(class='c9-header-left-section')
        img(class='c9-header-hamburger' src='../assets/icons/hamburger-menu.svg')
        img(class='c9-header-youtube-logo' src='../assets/icons/youtube-logo.svg')
    
    div(class='c9-header-middle-section')
        input(class='c9-searchbar', type='text', placeholder='Search')

        button(class='c9-search-button')
            img(class='c9-search-icon' src='../assets/icons/search.svg')
        
        button(class='c9-voice-search-button')
            img(class='c9-voice-icon' src='../assets/icons/voice-search-icon.svg')
    
    div(class='c9-header-right-section')
        img(class='c9-header-upload-icon' src='../assets/icons/upload.svg')
        
        img(class='c9-header-youtube-apps-icon' src='../assets/icons/youtube-apps.svg')

        div(class='c9-header-notification-container')
            img(class='c9-header-notification-icon' src='../assets/icons/notifications.svg')
            div(class='c9-header-notifications-count') 3
                       c9-header-notifications-count
        
        img(class='c9-header-user-icon' src='../assets/channel-pictures/my-channel.jpeg')
        -
