extends ../layout.pug
include mixin/video-preview

block main
    input(class='c5-searchbar', type='text', placeholder='Search')

    - 
        const videos = [ 
            { 
                title: 'Talking <strong>and AI with</strong> Google CEO Sundar Pichai!',
                thumb: '../assets/thumbnails/thumbnail-1.webp',
                author: 'Marques Brownlee',
                stats: '3.4M views &#183; 6 months ago',
                avatar: '../assets/channel-pictures/channel-1.jpeg'
            },
            {
                title: 'Try Not To Laugh Challenge #9',
                thumb: '../assets/thumbnails/thumbnail-2.webp',
                author: 'Markiplier',
                stats: '19M views &#183; 4 years ago',
                avatar: '../assets/channel-pictures/channel-2.jpeg'
            },
        ]

    each video in videos
        +video-preview(video)
    
