extends ../layout.pug

block main
    p paragraph thex
    button hello
    br
    a(href='https://www.youtube.com/', target='_blank') Link to Youtube
    br
    button(class='c1-red-button') SUBSCRIBE
    button(class='c1-blue-white-button') JOIN
    button(class='c1-white-blue-button') Tweet


