@import 'variables.scss';

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 2px;
  position: relative;
  min-height: 100vh;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-auto-rows: 75px auto 50px;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd hd"
    "mn mn mn mn mn mn mn mn sb"
    "ft ft ft ft ft ft ft ft ft";
  gap: 3px;
  background-color: aliceblue;
}

main, header, aside, footer {
  display: contents;
}

.sidebar {
  grid-area: sb;
  min-width: 250px;
  background-color: $steel-blue;
  border-radius: 15px;
  padding: 10px;
  color: $white;

  ul {
    padding: 0;
  }

  li {
    margin: 10px;
    list-style-type: none;
  }

  a {
    color: $white;
  }
}

.header {
  grid-area: hd;
  background-color: $steel-blue;
  color: $white;
  align-content: center;
  text-align: center;
  border-radius: 15px;
}

.main {
  grid-area: mn;
  width: 100%;
  height:100%;
}

.footer {
  display: flex;
  grid-area: ft;
  padding: 1rem;
  background-color: $steel-blue;
  color: $white;
  justify-content: space-between;
  align-items: center;
  border-radius: 15px;

  a {
    color: $white;
  }
}

