$red: #e00000;
$cinnabar: #e34140;

$dodger-blue: #1D9BF0;
$steel-blue: #4682b4;
$science-blue: #065FD4;

$white: #fff;
$black-super-fade: rgba(0, 0, 0, 0.05);
$wild-sand: #f5f5f5;
$gallery: #efefef;
$silver: #c0c0c0;
$scorpion: #606060;
$black-fade: rgba(0, 0, 0, 0.5);
$black: #000;
