$steelblue: #4682b4;
$white: #fff;
$red: #e00000;
$cinnabar: #e34140;
$blue: rgb(6, 95, 212);
$cyan: rgb(29, 155, 240);
$black-fade: rgba(0, 0, 0, 0.5);
$gray: rgb(96, 96, 96);
$scorpion: #606060;
$black: #fff;
